.careiq-loader-wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
}

.careiq-boxes {
  --size: 28px;
  --duration: 800ms;
  height: calc(var(--size) * 2);
  width: calc(var(--size) * 3);
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  margin-top: calc(var(--size) * 1.5 * -1);
  transform: rotateX(60deg) rotateZ(45deg) rotateY(0deg) translateZ(0px);
}

.careiq-boxes .careiq-box {
  width: var(--size);
  height: var(--size);
  top: 0;
  left: 0;
  position: absolute;
  transform-style: preserve-3d;
}

.careiq-boxes .careiq-box:nth-child(1) {
  transform: translate(100%, 0);
  -webkit-animation: careiq-box1 var(--duration) linear infinite;
  animation: careiq-box1 var(--duration) linear infinite;
}

.careiq-boxes .careiq-box:nth-child(2) {
  transform: translate(0, 100%);
  -webkit-animation: careiq-box2 var(--duration) linear infinite;
  animation: careiq-box2 var(--duration) linear infinite;
}

.careiq-boxes .careiq-box:nth-child(3) {
  transform: translate(100%, 100%);
  -webkit-animation: careiq-box3 var(--duration) linear infinite;
  animation: careiq-box3 var(--duration) linear infinite;
}

.careiq-boxes .careiq-box:nth-child(4) {
  transform: translate(200%, 0);
  -webkit-animation: careiq-box4 var(--duration) linear infinite;
  animation: careiq-box4 var(--duration) linear infinite;
}

.careiq-boxes .careiq-box > div {
  --background: #2563EB;
  --top: auto;
  --right: auto;
  --bottom: auto;
  --left: auto;
  --translateZ: calc(var(--size) / 2);
  --rotateY: 0deg;
  --rotateX: 0deg;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--background);
  top: var(--top);
  right: var(--right);
  bottom: var(--bottom);
  left: var(--left);
  transform: rotateY(var(--rotateY)) rotateX(var(--rotateX)) translateZ(var(--translateZ));
}

.careiq-boxes .careiq-box > div:nth-child(1) {
  --top: 0;
  --left: 0;
}

.careiq-boxes .careiq-box > div:nth-child(2) {
  --background: #1D4ED8;
  --right: 0;
  --rotateY: 90deg;
}

.careiq-boxes .careiq-box > div:nth-child(3) {
  --background: #3B82F6;
  --rotateX: -90deg;
}

.careiq-boxes .careiq-box > div:nth-child(4) {
  --background: #DBEAFE;
  --top: 0;
  --left: 0;
  --translateZ: calc(var(--size) * 3 * -1);
}

@-webkit-keyframes careiq-box1 {
  0%, 50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}

@keyframes careiq-box1 {
  0%, 50% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(200%, 0);
  }
}

@-webkit-keyframes careiq-box2 {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

@keyframes careiq-box2 {
  0% {
    transform: translate(0, 100%);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(100%, 0);
  }
}

@-webkit-keyframes careiq-box3 {
  0%, 50% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes careiq-box3 {
  0%, 50% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@-webkit-keyframes careiq-box4 {
  0% {
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(200%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}

@keyframes careiq-box4 {
  0% {
    transform: translate(200%, 0);
  }
  50% {
    transform: translate(200%, 100%);
  }
  100% {
    transform: translate(100%, 100%);
  }
}
